@charset "utf-8";


// ==============================
// ブレイクポイント
// ==============================
$breakpoints: (
  'sm': 'screen and (max-width: 576px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 992px)',
  'xl': 'screen and (max-width: 1200x)',
) !default;

@mixin mq($breakpoint: sm){
  @media #{map-get($breakpoints, $breakpoint)}{
    @content;
  }
}

// ==============================
// 変数
// ==============================
$font-color_default: #333333;
$font-color_text: #3B4043;
$font-color_option: #98A6B5;
$color_bg: #F2F2F2;
$color_main: #A7D2CF;
$color_w: #FFFFFF;
$color_waring: #E66767;

$font-size_s: 12px;
$font-size_m: 14px;
$font-size_default: 16px;
$font-size_l: 20px;
$font-size_xl: 24px;
$font-size_xxl: 30px;
$font-size_3l: 36px;
$font-size_4l: 38px;

$space_s: 5px;
$space_m: 10px;
$space_l: 15px;
$space_xl: 20px;
$space_xxl: 30px;
$space_3l: 40px;
$space_4l: 60px;

$font-family_main: "Noto Sans JP", 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

// ==================================
// base
// ==================================
html, body {
  width: 100%;
  background-color: $color_bg;
  text-align: center;
  line-height: 1.6;
  letter-spacing: 0.1em;
  color: $font-color_default;
  font-size: $font-size_m;
  font-family: $font-family_main;
  text-size-adjust: 100%;
  @include mq(md){
    font-size: $font-size_m;
  }
}

p, a {
  -webkit-font-smoothing: antialiased;
}

a {
  display: block;
  color: $font-color_default;
  text-decoration: none;
  transition: .3s;
}

img {
  width: 100%;
  vertical-align: bottom;
}
input{
  font-size: inherit;
  font-family: inherit;
  border-style: none;
}
textarea{
  border-style: none;
}
// ==================================
// header
// ==================================
.title-logo{
  display: inline-block;
  width: 70px;
  height: 56px;
}
.navbar-brand{
  line-height: 70px;
}
// ==================================
// top-view
// ==================================
.hero-view{
  height: 600px;
  background-image: url(./img/top.jpg);
  background-size: cover;
  background-position: center;
  @include mq(md){
    height: 300px;
  }
}
.hero-msg{
  padding-top: 60px;
  color: $font-color_option;
  @include mq(md){
    padding-top: 20px;
  }
}
.new{
  margin-right: 200px;
  @include mq(md){
    margin-right: 100px;
  }
}

// ==================================
// footer
// ==================================
footer{
  height: 70px;
  background-color: $color_main;
  color: $color_w;
}
// ==================================
// utility
// ==================================
.underline{
  padding-bottom: 1rem;
  border-bottom: solid 2px;
}
.switch a:hover{
  color: $font-color_default;
  text-decoration: none;
}
.fw-normal{
  font-weight: 400;
}
.heart{
  fill: #E66767;
}