@charset "utf-8";

// ==============================
// ブレイクポイント
// ==============================
$breakpoints: (
  'sm': 'screen and (max-width: 576px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 992px)',
  'xl': 'screen and (max-width: 1200x)',
) !default;

@mixin mq($breakpoint: sm){
  @media #{map-get($breakpoints, $breakpoint)}{
    @content;
  }
}

// ==============================
// 変数
// ==============================
$font-color_default: #333333;
$font-color_text: #3B4043;
$font-color_option: #98A6B5;
$color_bg: #F2F2F2;
$color_main: #A7D2CF;
$color_w: #FFFFFF;
$color_waring: #E66767;

$font-size_s: 12px;
$font-size_m: 14px;
$font-size_default: 16px;
$font-size_l: 20px;
$font-size_xl: 24px;
$font-size_xxl: 30px;
$font-size_3l: 36px;
$font-size_4l: 38px;

$space_s: 5px;
$space_m: 10px;
$space_l: 15px;
$space_xl: 20px;
$space_xxl: 30px;
$space_3l: 40px;
$space_4l: 60px;

$font-family_main: "Noto Sans JP", 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;