@charset "utf-8";

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// ==================================
// base
// ==================================
html, body {
  width: 100%;
  background-color: $color_bg;
  text-align: center;
  line-height: 1.6;
  letter-spacing: 0.1em;
  color: $font-color_default;
  font-size: $font-size_m;
  font-family: $font-family_main;
  text-size-adjust: 100%;
}

p, a {
  -webkit-font-smoothing: antialiased;
}

a {
  display: block;
  color: $font-color_default;
  text-decoration: none;
  transition: .3s;
}

img {
  width: 100%;
  vertical-align: bottom;
}
input{
  font-size: inherit;
  font-family: inherit;
  border-style: none;
}
textarea{
  border-style: none;
}
// ==================================
// header
// ==================================
.title-logo{
  display: inline-block;
  width: 70px;
  height: 56px;
}
.navbar-brand{
  line-height: 70px;
}
.auth-header{
  background-color: $color_main;
}
// ==================================
// top-view
// ==================================
.hero-view{
  height: 600px;
  background-image: url(./img/top.jpg);
  background-size: cover;
  background-position: center;
  @include mq(md){
    height: 300px;
  }
}
.hero-msg{
  padding-top: 60px;
  color: $font-color_option;
  @include mq(md){
    padding-top: 20px;
  }
}
.new{
  margin-right: 200px;
  @include mq(md){
    margin-right: 100px;
  }
}

// ==================================
// footer
// ==================================
footer{
  height: 70px;
  background-color: $color_main;
  color: $color_w;
}
// ==================================
// utility
// ==================================
.underline{
  padding-bottom: 1rem;
  border-bottom: solid 2px;
}
.switch a:hover{
  color: $font-color_default;
  text-decoration: none;
}
.fw-normal{
  font-weight: 400;
}
.heart{
  fill: #E66767;
}
.likes{
  cursor: pointer;
}
// ==================================
// animation
// ==================================

.item-enter-active,
.item-leave-active{
  transition: opacity .5s;
}
.item-enter,
.item-leave-to{
  opacity: 0;
}
.item-enter-to,
.item-leave {
  opacity: 1;
}
